nav {
    background: rgb(26, 45, 142);
    height: 80px;
    width: 100%;
}

label.logo {
color: white;
font-size: clamp(1.5rem, 2.5vw, 2rem);
font-weight: 500;
line-height: 80px;
padding: 0 50px;
text-transform: uppercase;
} 

nav ul {
gap: 30px;
float: right;
margin-right: 20px;  
}

nav ul li {
display: inline-block;
line-height: 80px;
margin: 0 5px;
}

nav ul li a {
color: white;
font-size: 17px;
padding: 10px 13px;
border-radius: 3px;
text-transform: uppercase;
}

a.active, a:hover {
background: rgb(49, 68, 160);
transition: 0.5s;
}

.checkbtn {
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}

#check {
display: none;
}