* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 520px){
    .imagen-biografia{
        height: 150px;
        width: 350px;
        border-radius: 20px;
        margin-bottom: 0%;
    }
    .imagen-artista{
        height: 100px;
        width: 100px;
        border-radius: 5px;
        margin-bottom: 70px;
    }
}

body {
    position: relative;
}

.fondo {
    background-image: url("img/fondo-1.jpg");
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.1;
}

main {
    padding: 16px;
    position: relative;
}

section {
    margin-bottom: 40px;
}

.tamaño {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    color: rgb(88, 129, 165);
    font-size: 45px;
}

.imagen-biografia {
    text-align: center;
}

.seccion-1 {
    display: flex;
}

.seccion-1 div {
    padding: 16px;
}

.seccion-1 span {
    color: rgb(84, 97, 185);
    padding-bottom: 8px;
    font-style: italic;
    font-weight: bold;
}

.seccion-1 p {
    color: rgb(73, 74, 85);
}

.seccion-2 nav {
    background-color: rgb(237, 241, 247);
    padding: 20px;
    border-radius: 10px;
    margin-top: 16px;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
}

.seccion-2 ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
    justify-content: space-between;
}

.seccion-2 ul .descripcion {
    width: 45%;
}

.seccion-2 ul .informacion {
    width: 45%;
}

.seccion-2 .picaso {
    text-decoration: none;
    font-size: 24px;
    color: rgb(165, 2, 2);
}

.seccion-2 ul .galeria {
    width: 90%;
}

.seccion-2 ul .title {
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 8px;
    color: rgb(84, 93, 97);
}

.seccion-2 ul .galeria .title {
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
}

.seccion-2 ul .galeria img {
    max-width: 30%;
    border-radius: 40px;
    object-fit: cover;
    height: 200px;
}

.seccion-3 {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion-3 .contenedor-imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
    width: 80%;
}

.seccion-3 .contenedor-imagenes:hover {
    transform: scale(50%);
}

.seccion-3 h3 {
    font-size: 20px;
    margin-bottom: 16px;
}

.seccion-3 .contenedor {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cuadros {
    text-decoration: none;
    background-color: rgb(3, 40, 95);
    color: white;
    display: block;
    padding: 16px;
    border-radius: 12px;
    text-align: center;
}

.cuadros:hover {
    color: rgb(11, 156, 84);
    transform: scale(1.10);
}

.registrate {
    text-decoration: none;
    background-color: white;
    color: rgb(3, 40, 95);
    display: block;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid rgb(3, 40, 95);
    text-align: center;
}

.registrate:active {
    background-color: orange;
}