body {
    background-color: rgba(43, 0, 255, 0.509);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
}
h1{
    color: #00FFF;
    font-size: 40px;
}
p{
    color: coral;
    font-size: 18px;
}
/* section > h2 + p{
    color: aqua;
}  */
ul > li {
    list-style: none;
}
#seccion-2{
    margin: 0;
    font-size: 17px;
}
.secciones {
    padding: 20px;
    margin: 20px 0x;
    background-color: #FFFFFF;
    border: 10px ridge #CCC;
    border-radius: 50px;
}