.contenedor-2{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.contenedor-sesion2{
    display: flex;
    justify-content: space-around;
}
.imagenPromocion{
    width: 250px;
    height: 300px;
}

.tituloC2{
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    color: rgba(234, 25, 25, 0.91);
    text-shadow: rgb(221, 130, 130) 1px -1px;
    font-weight: bold;
    
}

