.contenedor-1{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.Bienvenido{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: rgba(135, 123, 146, 0.486) 7px 5px;
}