*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.Titulo{
    position: fixed;
    padding-top: 100px;
    text-align: center;
    color: black;
    height: 20px;
}

.menu{
    margin: 0;
    position: fixed;
    width: 100%;
    height: 6%;
    background-color: rgb(49, 183, 245);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.registrate {
    background-color: rgb(110, 110, 119);
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 7px;
}