*{
    margin: 0;
    padding: 0;
}
.Titulo{
    text-align: center;
    color: black;
    height: 20px;
}

.menu{
    width: 20px;
    height: 12px;
    margin-top: 50px;
    padding: 100px;
    margin-left: 50px;
    display: block;
    float: inline-start;
    text-align: center;
}
