.form {
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    color: rgb(5, 5, 5);
    background-color: rgb(156, 163, 175);
    width: 250px;
    margin-top: 30px;
    font-size: 16px;
    width: 300px;
}

.formReg{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.botonRegistrar{
    margin-top: 15px;
}

.labelsFormularios{
    color: rgb(5, 5, 5);
    text-align: left;
    margin-top: 8px;
    font-size: 18px;
}

.imputsFormulario{
    border-radius: 7px;
    background-color: rgb(251, 251, 250) ;
    font-size: 16px;
}
.botones{
    display: flex;
    justify-content: space-around;
}

.boton{
    font-size: 18px;
    color: white;
    border-color: rgb(19, 40, 83);
    border-radius: 5px;
    background: rgb(19, 40, 83);
    margin-top: 20px;
    width: 110px;
    height: 35px;
}

.terminos{
    margin-top: 20px;
}
