*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(imagen/fondo-1.jpg);
}
@media (max-width:400px){
    .form-registro{
        font-size: 1.8rem;
    }
}
.form-registro {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    width: 90%;
    max-width: 400px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri'; 
    color: white;
    box-shadow: 7px 13px 37px #fdfdfd;
}
.form-registro h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.controles {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #88888a;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.form-registro  p {
    height: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.form-registro a {
    color: white;
    text-decoration: none;
}
.form-registro a:hover {
    color: white;
    text-decoration: underline;
}
.form-registro .botones{
    display: grid;
    justify-content: center;
    text-decoration: none;
    height: 40px;
    width: 100%;
    background: #03cc46;
    border-radius: 4px;
    padding: 14px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
}

.botones:hover{
    transform: scale(1.15);
}

.mensaje{
    width: 100%;
    max-width: 400px;
}