.GeneralCelulares{
    height: 1000px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px;
    background-color: blue;
}
.CartaCelulares{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}