.Card {
    width: 500px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 200px;
    height: 200px;
    background-color: rgba(36, 107, 220, 0.221);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(21, 47, 218);
}